*.pkl
.DS_Store
/venv/
.vscode
__pycache__
.ipynb_checkpoints
*.gz
.ipynb_checkpoints/
__pycache__/
submit*
cleaning_validation.csv
glove.twitter.27B.100d.txt
svmlight.so
embeddings/
Results/submit_files/
stand_by/
cleaned_datasets.zip
twitter-datasets/*.txt